:root{
    /* Primary */
    --very-dar-blue: hsl(233, 47%, 7%);
    --Dark-desaturated-blue: hsl(244, 38%, 16%);
    --Soft-violet: hsl(277, 64%, 61%);
    /* Neutral */
    --white:#fff;
    --Slightly-transparent-white-p: hsla(0, 0%, 100%, 0.75);
    --Slightly-transparent-white-h: hsla(0, 0%, 100%, 0.6);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
}