:root{
    /* Primary */
    --very-dark-blue: hsl(233, 47%, 7%);
    --Dark-desaturated-blue: hsl(244, 38%, 16%);
    --Soft-violet: hsl(277, 64%, 61%);
    /* Neutral */
    --white:#fff;
    --Slightly-transparent-white-p: hsla(0, 0%, 100%, 0.75);
    --Slightly-transparent-white-h: hsla(0, 0%, 100%, 0.6);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
}
main{
    background-color: var(--very-dark-blue);
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}
.main-container{
    background-color: var(--Dark-desaturated-blue);
    width: 375px;
    height: 95vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    border-radius: 15px;
}
.info-container{
    text-align: center;
    color: var(--white);
    padding: 10px 25px;
    display: grid;
}
.info-container-description h1{
    margin-bottom: 20px;
}
.info-container-description p{
    color: var(--Slightly-transparent-white-p);
    padding: 0 20px;
    line-height: 25px;
    margin-bottom: 40px;
}
.info-container-description span{
    color: var(--Soft-violet);

}
.info-description-values{
    display: flex;
    flex-direction: column;

}
.info-description-values p{
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 1.0rem;
    color: var(--Slightly-transparent-white-h);
}

.image-container img{
    border-radius: 15px 15px 0 0 ;
    width: 100%;
}